@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter, .didILetter, .didDTwoLetter {
  font-size: 70px;
  font-weight: 400;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Sixtyfour', sans-serif;
}

.didDLetter {
  color: #93de7e;
  background-color: #f9f871;
}

.didILetter {
  color: #b0e3f5;
  background-color: #bd2b3c;
}

.didDTwoLetter {
  color: #bd2b3c;
  background-color: #b0e3f5;
}

/* THE word */

.theTLetter, .theHLetter, .theELetter {
  font-size: 40px;
  font-weight: 700;
  text-decoration: line-through underline;
  text-decoration-thickness: 10px;
  text-transform: lowercase;
  font-family: 'Josefin Sans', sans-serif;
}

.theTLetter {
  color: #278f0a;
  background-color: #f56c2c;
}

.theHLetter {
  color: #991595;
  background-color: #29d9c1;
}

.theELetter {
  color: #2b099c;
  background-color: #a0fac2;
}

/* FRONT-END word */

.frontendFLetter, .frontendRLetter, .frontendOLetter, .frontendNLetter, .frontendTLetter, .hyphen {
  font-size: 40px;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-thickness: 6px;
  text-transform: capitalize;
  font-family: 'Merienda', sans-serif;
}

.frontendFLetter {
  color: #29d9c1;
  background-color: white;
}

.frontendRLetter {
  color: #8833bd;
  background-color: #0a260a;
}

.frontendOLetter {
  color: #29d9c1;
  background-color: white;
}

.frontendNLetter {
  color: #8833bd;
  background-color: #0a260a;
}

.frontendTLetter {
  color: #29d9c1;
  background-color: white;
}

.hyphen {
  color: #8833bd;
  background-color: #0a260a;
}

.frontendELetter, .frontendNTwoLetter, .frontendDLetter {
  font-size: 8px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-transform: lowercase;
  font-family: 'Josefin Sans', sans-serif;
}

.frontendELetter {
  color: rgb(120, 5, 12);
  background-color: #6e696a;
}

.frontendNTwoLetter {
  color: #523436;
  background-color: #f5535d;
}

.frontendDLetter {
  color: rgb(120, 5, 12);
  background-color: #6e696a;
}

/* DEVELOPER word */

.developerDLetter, .developerELetter, .developerVLetter, .developerETwoLetter, .developerLLetter, .developerOLetter, .developerPLetter, .developerEThreeLetter, .developerRLetter {
  font-size: 55px;
  font-weight: bold;
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-thickness: 20px;
  text-decoration-color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-family: 'Sixtyfour', sans-serif;
}

.developerDLetter {
  color: #f9f871;
  background-color: #000;
}
.developerELetter {
  color: #0a260a;
  background-color: #666666;
}
.developerVLetter {
  color: #f0f0f0;
  background-color: #203dfa;
}
.developerETwoLetter {
  color: #f9f871;
  background-color: #29d9c1;
}
.developerLLetter {
  color: #0a260a;
  background-color: #8833bd;
}
.developerOLetter {
  color: #f0f0f0;
  background-color: #282a56;
}
.developerPLetter {
  color: #f9f871;
  background-color: #000;
}
.developerEThreeLetter {
  color: #278f0a;
  background-color: #666666;
}
.developerRLetter {
  color: #278f0a;
  background-color: #203dfa;
}

/* TAKE word */

.takeTLetter, .takeALetter, .takeKLetter, .takeELetter {
  font-size: 16px;
  font-weight: lighter;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Sixtyfour', sans-serif;
}

.takeTLetter, .takeKLetter {
  color: #203dfa;
  background-color: #6e696a;
}
.takeALetter, .takeELetter {
  color: #000;
  background-color: #8833bd;
}

/* UP word */

.upULetter, .upPLetter {
  font-size: 35px;
  font-weight: bolder;
  text-decoration: double line-through;
  text-transform: lowercase;
  font-family: 'Merienda', sans-serif;
}

.upULetter {
  color: #a0fac2;
  background-color: #f56c2c;
}
.upPLetter {
  color: #203dfa;
  background-color: #f9f871;
}

/* GARDENING word */

.gardeningGLetter, .gardeningALetter, .gardeningRLetter, .gardeningDLetter, .gardeningELetter, .gardeningNLetter, .gardeningILetter, .gardeningNTwoLetter, .gardeningGTwoLetter {
  font-size: 32px;
  font-weight: normal;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Piazolla', sans-serif;
}

.gardeningGLetter, .gardeningRLetter, .gardeningELetter, .gardeningILetter, .gardeningGTwoLetter {
  color: #f56c2c;
  background-color: #f9f871;
}

.gardeningALetter, .gardeningDLetter, .gardeningNLetter, .gardeningNTwoLetter {
  color: #f9f871;
  background-color: #f56c2c;
}

.question-mark {
  font-size: 60px;
  font-weight: bolder;
  text-decoration: none;
  text-shadow: 5px 5px 5px rgba(32, 61, 250, 0.8);
  background-color: #0a260a;
  color: coral;
}

/* BECAUSE word */

.becauseBLetter {
}
.becauseELetter {
}
.becauseCLetter {
}
.becauseALetter {
}
.becauseULetter {
}
.becauseSLetter {
}
.becauseETwoLetter {
}

/* THEY word */

.theyTLetter {
}
.theyHLetter {
}
.theyELetter {
}
.theyYLetter {
}

/* WANTED word */

.wantedWLetter {
}
.wantedALetter {
}
.wantedNLetter {
}
.wantedTLetter {
}
.wantedELetter {
}
.wantedDLetter {
}

/* TO word */

.toTLetter {
}
.toOLetter {
}

/* IMPROVE word */

.improveILetter {
}
.improveMLetter {
}
.improvePLetter {
}
.improveRLetter {
}
.improveOLetter {
}
.improveVLetter {
}
.improveELetter {
}

/* THEIR word */

.theirTLetter {
}
.theirHLetter {
}
.theirELetter {
}
.theirILetter {
}
.theirRLetter {
}

/* ROOT word */

.rootRLetter {
}
.rootOLetter {
}
.rootOTwoLetter {
}
.rootTLetter {
}

/* SKILLS word */

.skillsSLetter {
}
.skillsKLetter {
}
.skillsILetter {
}
.skillsLLetter {
}
.skillsLTwoLetter {
}
.skillsSTwoLetter {
}

/* SYMBOLS */

.hyphen {
}
.exclamation-mark {
}
.question-mark {
}
